*{
    box-sizing: border-box;
}

/*MAIN HEADER-------------------------------------------------*/
.main-header,
.main-nav{
    display: flex; 
}

.main-nav{
    margin: auto; 
}

input{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px; 
}

/*MAIN-CONTENT ------------------------------------------------*/
img:hover{
    cursor: pointer;
    transform: scale(1.1); 
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%
    margin: auto;
}

.container div{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container div:nth-of-type(9),
.container div:nth-of-type(10),
.container div:nth-of-type(11),
.container div:nth-of-type(12){
    margin-bottom: 10px; 
}


